.category-slide-btn {
    font-size: 14px;
    font-weight: 500;
    padding: 5px 10px;
    color: #000;
    border: none;
    border-radius: 3px;
    transition: background-color 0.3s;
    cursor: pointer;
    &.active{
        font-weight: 700;
        border-bottom: 3px solid var(--greyHover)
    }
}