#main-eventos{
    padding-top: 64px;
    .event-portada{
        background-image: url("/images/portadaEventos.jpg");
        background-size: cover;
        background-position: bottom center;
        padding: 0;
        height: 400px;
        .blackout{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            padding: 3rem 1rem;
            background-color: rgba(0, 0, 0, 0.6);
            h2{
                max-width: 1024px;
                font-size: clamp(30px, 5vw, 80px);
                margin-bottom: 3rem;
                font-weight: 900;
                letter-spacing: 1px;
                text-align: center;
            }
        }
    }
    .events-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 3rem 0;
    }
}
@media (min-width: 768px) {
    #main-eventos {
        padding-top: 96px;
        .event-portada{
            height: 500px;
        }
    }
}