.expandenContainer{
    .localClose, .noProducts{
        margin: 1rem;
        padding: 1rem;
        border: 1px solid var(--red);
        border-radius: 5px;
        background-color: #ffffff;
        animation: move 2s ease-in-out infinite;
        span{
            font-weight: 500;
            color: var(--red);
        }
    }
    .noProducts{
        margin-top: 2rem;
        border: 1px solid var(--darkerBackground);
        background-color: #ffffff;
        animation: none;
        span{
            color: var(--darkerBackground);
        }
    }
}
@media (min-width: 768px){
    .expandenContainer{
        .localClose{
            margin: 0;
            margin-top: 2rem;
        }
    }
}

@keyframes move {
    0%, 80% {
        transform: rotate(0);
    }
    10%, 30%, 50% {
        transform: rotate(2deg);
    }
    20%, 40%, 60% {
        transform: rotate(-2deg);
    }
}