.expandenContainer{
    display: flex;
    justify-content: center;
    width: 100vw;
    background-color: var(--paper);
    .localClose{
        margin-top: 2rem;
        padding: 1rem;
        border: 1px solid var(--red);
        border-radius: 5px;
        background-color: #ffffff;
        animation: move 2s ease-in-out infinite;
        span{
            font-weight: 500;
            color: var(--red);
        }
    }
}
@keyframes move {
    0%, 80% {
        transform: rotate(0);
    }
    10%, 30%, 50% { 
        transform: rotate(2deg);
    }
    20%, 40%, 60% { 
        transform: rotate(-2deg);
    }
}