.cardInfo{
  position: relative;
  width: 100%;
  max-width: 360px;
  height: 300px;
  margin-bottom: 8em;
  &:first-child{
    margin-bottom: 18rem;
  }
  .cardInfo-img{
    height: 100%;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 15px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
    }
  }
  .cardInfo-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 2rem;
    .cardInfo-title{
      margin-bottom: .5rem;
      font-size: clamp(14px, 3vw, 24px);
      padding: 0 .5rem;
      text-align: center;
      font-family: 'LM-light';
      letter-spacing: 3px;
      text-shadow: 2px 2px 4px #000;
    }
    .cardInfo-text{
      margin: 1rem;
      padding: 1rem;
      border-radius: 15px;
      background-color: rgba(0, 0, 0, 0.85);
      text-align: center;
      font-size: 14px;
      line-height: 20px;
      box-shadow: 0 0px 10px rgba(0, 0, 0, 0.68);
    }
  }
}
@media (min-width: 320px){
  .cardInfo{
    &:first-child{
      margin-bottom: 15rem;
    }
  }
}
@media (min-width: 375px){
  .cardInfo{
    &:first-child{
      margin-bottom: 10rem;
    }
  }
}
@media (min-width: 768px){
  .cardInfo{
    position: unset;
    display: grid;
    grid-template-columns: 40% 60%;
    width: 100%;
    height: 400px;
    max-width: 1400px;
    margin: 6rem 0;
    padding: 0 2rem;
    &.imageRight{
      grid-template-columns: 70% 30%;
    }
    .cardInfo-img{
      img{
        border-radius: 0;
        box-shadow: none;
        &.borderLeft{
          border-radius: 50px 0 0 0;
        }
        &.borderRight{
          border-radius: 0 50px 0 0 ;
        }
      }
    }
    .cardInfo-content{
      position: unset;
      justify-content: center;
      align-items: start;
      padding: 2rem 3rem;
      background-color: rgba(0, 0, 0, 0.48);
      .cardInfo-title{
        text-align: start;
        text-shadow: none;
        padding: 0;
      }
      .cardInfo-text{
        background-color: transparent;
        box-shadow: none;
        text-align: left;
        padding: 0;
        margin: 0;
        font-weight: 300;
      }
      &.borderLeft{
        border-radius: 0 0 50px 0;
      }
      &.borderRight{
        border-radius: 0 0 0 50px;
        order: -1;
      }
    }
  }
}