.cardInfo{
  position: relative;
  width: calc(100% - 2rem);
  margin: 3rem 1rem;
  max-width: 360px;
  height: 300px;
  max-height: 300px;
  .cardInfo-img{
    height: 100%;
    img{
      width: 100%;
      height: 100%;
      border-radius: 1rem;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
    }
  }
  .cardInfo-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 2rem;
    .cardInfo-title{
      margin-bottom: 1rem;
      font-size: 1.5rem;
      font-family: 'LM-light';
      text-shadow: 2px 2px 4px #000;
    }
    .cardInfo-text{
      margin: 1rem;
      padding: 2rem;
      border-radius: 1rem;
      background-color: rgba(0, 0, 0, 0.76);
      text-align: center;
      font-size: 14px;
      line-height: 20px;
      box-shadow: 0 0px 10px rgba(0, 0, 0, 0.68);
    }
  }
}

@media (min-width: 768px){
  .cardInfo{
    display: grid;
    grid-template-columns: 30% 70%;
    max-width: 1024px;
    margin: 6rem 1rem;
    &.imageRight{
      grid-template-columns: 70% 30%;
    }
    .cardInfo-img{
      img{
        border-radius: 0;
        box-shadow: none;
        &.borderLeft{
          border-radius: 50px 0 0 0;
        }
        &.borderRight{
          border-radius: 0 50px 0 0 ;
        }
      }
    }
    .cardInfo-content{
      position: unset;
      justify-content: center;
      align-items: start;
      padding: 2rem 3rem;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.48);
      .cardInfo-title{
        text-shadow: none;
        margin-left: 2rem;
      }
      .cardInfo-text{
        background-color: transparent;
        box-shadow: none;
        text-align: left;
        padding: 0;
        margin-left: 2rem;
        font-weight: 300;
      }
      &.borderLeft{
        border-radius: 0 0 50px 0;
      }
      &.borderRight{
        border-radius: 0 0 0 50px;
        order: -1;
      }
    }
  }
}