#especialidades {
  display: grid;
  grid-template-rows: 3rem auto 3rem;
  width: calc(100vw - 2rem);
  margin: 15rem 1rem 1rem;
  padding: 0;
  background-color: #0F0F0F;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
  position: relative;
  .especialidades-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    h2{
      font-family: 'LM-light';
      font-size: clamp(14px, 4vw, 18px);
      text-align: center;
      letter-spacing: 2px;
      margin-bottom: 6rem;
    }
  }
}

.zocalo {
  width: 0;
  height: 0;
}
.zs, .zi {
  display: flex;
  justify-content: space-between;
}
.zsi {
  border-right: 3rem solid transparent;
  border-top: 3rem solid #000;
  position: relative;
}
.zsd {
  border-left: 3rem solid transparent;
  border-top: 3rem solid #000;
}
.zii {
  border-right: 3rem solid transparent;
  border-bottom: 3rem solid #000;
}
.zid {
  border-left: 3rem solid transparent;
  border-bottom: 3rem solid #000;
}
@media (min-width: 768px){
  #especialidades {
    margin: 5rem 2rem 1rem;
    width: calc(100% - 4rem);
  }
}
