.category-admin{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    .admin-categories-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        margin: 2rem;
        .admin-category-item{
            display: grid;
            grid-template-columns: 1fr auto auto;
            grid-auto-rows: auto auto;
            width: 100%;
            gap: .5rem;
            touch-action: manipulation;
            .category-delete-btn, .category-edit-btn{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 2rem;
                height: 2rem;
                font-size: 1.5rem;
                color: var(--red);
                border: 1px solid var(--grey);
                border-radius: 3px;
                background-color: transparent;
                cursor: pointer;
            }
            .category-edit-btn{
                color: var(--blue);
            }
        }
        .category-add-btn{
            grid-column: 1/4;
            justify-self: center;
            width: 2rem;
            height: 2rem;
            font-size: 1.5rem;
            margin-top: .5rem;
            border-radius: 50%;
            color: #fff;
            outline: 1px solid white;
            background-color: transparent;
            border: none;
            cursor: pointer;
        }
    }
    .admin-category-control{
        display: flex;
        justify-content: center;
        gap: 1rem;
    }
}