@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
    font-family: 'LM-light';
    src: url('./assets/fonts/LEMONMILK-Light.otf') format('opentype');
}
@font-face {
    font-family: 'LM-regular';
    src: url('./assets/fonts/LEMONMILK-Regular.otf') format('opentype');
}
@font-face {
    font-family: 'LM-medium';
    src: url('./assets/fonts/LEMONMILK-Medium.otf') format('opentype');
}
@font-face {
    font-family: 'LM-bold';
    src: url('./assets/fonts/LEMONMILK-Bold.otf') format('opentype');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    color: var(--white);
}
:root{
    --background: #1C1C1C;
    --darkerBackground: #131313;
    --white: #fff;
    --grey: #464646;
    --greyHover: #737373;
    --brown: #9E6F5E;
}
body{
    background-color: var(--background);
    overflow-x: hidden;
}
#start{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    max-width: 1400px;
    padding-top: 6rem;
    background-color: var(--background);
}
section{
    width: 100vw;
    max-width: 1400px;
    padding: 1rem;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
